html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
   background: linear-gradient(90deg, rgb(252, 115, 156) 0%, rgb(139, 102, 241) 100%);
   background-size: cover;
   background-repeat: no-repeat;
   overflow: hidden;
}

h2, p {
  display: block;
  color: rgb(31, 31, 31);
  font-family: "Varela Round", sans-serif;
  text-align: center; /* Center the text */
}

h2 {
  font-size: 40px;
  letter-spacing: 10px;
  font-style: normal;
  text-align: center;
  margin-bottom: 10%;
}

.varela-round-regular h2, p {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Styles for the main container */
div.main-container {
  width: auto; 
  margin: 0 10px auto; 
  padding: 60px;
  border-radius: 10px; /* Add border radius for rounded corners */
  text-align: center; /* Center the content inside the container */
}

div.secondary-container {
  width: 40%; 
  margin: 80px auto; /* Add margin to move the container downwards */
  padding: 20px; /* Add padding inside the container */
  border-radius: 30px; /* Add border radius for rounded corners */
  text-align: center; /* Center the content inside the container */
  background-color: #f2f2f23c; /* Add background color */
  position: relative; /* Set the position to relative */
  box-shadow: 
  -20px 0 50px -10px #9266eb8e, /* Left side shadow */
  20px 0 50px -10px #f472a48a, /* Right side shadow */
  0 0 30px rgba(223, 240, 255, 0); /* Silvery glow effect */
}

#input-field {
  width: 100%; /* Adjust the width percentage */
  display: flex;
  margin: 0 auto; /* Center the input field */
  margin-bottom: 10px;
  padding: 8px;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: left;
}

#input-field::placeholder {
  /* Style for the placeholder text */
  color: #999; /* Placeholder text color */
  font-style: italic; /* Italicize the placeholder text */
}

#input-field:focus {
  box-shadow: 0 0 10px #007bff; /* Add a box shadow when the input is focused */
}

/* Style for the character count */
#character-count {
  color: whitesmoke;
  font-family: "Duru Sans", sans-serif;
  font-weight: 700;
}

/* CSS for the reset button */
#reset-button {
   background-color: #669fc6; /* Green background */
   border: none; /* Remove border */
   color: white; /* White text */
   padding: 10px 20px; /* Add padding */
   text-align: center; /* Center text */
   text-decoration: none; /* Remove underline */
   display: inline-block; /* Display as inline-block */
   font-size: 16px; /* Set font size */
   border-radius: 5px; /* Add border radius */
   cursor: pointer; /* Add cursor pointer on hover */
   position: relative; /* Set position to relative */
   top: -60px; /* Move the button upwards */
 }

/* Change background color on hover */
#reset-button:hover {
  background-color: #4583a0;
}

/* Change background color on active */
#reset-button:active {
  background-color: #3e738e;
}


#counter {
  font-size: 30px;
  font-family: "Varela Round", sans-serif;
}

.footer-section {
  font-size: 10px;
  text-align: center;
  position: absolute; 
  bottom: 20px; 
  left: 0; 
  right: 0; 
}

.footer-section a {
  text-decoration: none;
  color: #78b7e1;
}

.footer-section p {
  text-decoration: none;
  color: whitesmoke;
  text-shadow: 0 0 20px black;
}

.footer-section a:hover {
  text-decoration: underline;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
  div.secondary-container {
    width: 80%; /* Reduce width for smaller screens */
    h2 {
      display: block;
      font-size: 40px;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 576px) {
  div.secondary-container {
    width: 68%; /* Further reduce width for even smaller screens */
    h2 {
      display: block;
      font-size: 30px;
      text-align: center;
      white-space: normal; /* Allow text wrapping on smaller screens */
      overflow: visible; /* Allow text to overflow container */
      text-overflow: initial; /* Revert text-overflow to its initial state */
    }
    .footer-section p {
      text-decoration: none;
      color: whitesmoke;
      text-shadow: 0 0 20px black;
      padding: 5px;
      word-wrap: break-word; /* Allow the text to wrap */
    }
    }
  }

