html, body {
  width: 100%; 
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, rgb(252, 115, 156) 0%, rgb(139, 102, 241) 100%);
  background-size: cover; 
  background-repeat: no-repeat; 
  overflow: hidden; 
  font-family: "Varela Round", sans-serif;
  color: rgb(31, 31, 31);
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 100vh; 
}

h1, h2, p {
  letter-spacing: 1px;
  text-align: center;
}

.title-text {
  letter-spacing: 3px;
}

.main-container {
  width: 90%; 
  max-width: 600px; 
  min-height: 100px; 
  padding: 20px 40px; 
  border-radius: 30px;
  background-color: #f2f2f23c;
  box-shadow: -20px 0 50px -10px #9266eb8e, 20px 0 50px -10px #f472a48a;
  overflow: visible; 
}

#input-field {
  width: 100%; 
  min-height: 100px;
  margin-bottom: 10px;
  padding: 8px;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: none;
}

#input-field:focus {
  box-shadow: 0 0 10px #b300ff;
}

#input-field::placeholder {
  color: #999;
  font-style: italic;
}

#character-count {
  font-size: 25px;
  font-weight: 700;
  color: whitesmoke;
  display: block;
  margin-top: 10px;
}

#counter {
  font-size: 25px;
  margin-top: 10px;
}

#reset-button {
  letter-spacing: 2px;
  background-color: #0092ca;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto 0;
  width: 20%;
  transition: all 0.3s ease;
}

#reset-button:hover {
  background-color: #0173a0;
}

#reset-button:active {
  background-color: #3e738e;
}

.footer-section {
  font-size: 10px;
  margin-top: 20px;
  color: whitesmoke;
  text-shadow: 0 0 20px black;
}

.footer-section a {
  color: #78b7e1;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .main-container {
    padding: 20px 40px; 
    height: 400px;
    margin: 20px;

  }

  h1, h2 {
    font-size: 25px;  
  }

  #character-count, #counter {
    font-size: 20px;  
  }

  #reset-button {
    width: 30%; 
    padding: 10px 0;  
  }
}
